.line{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h2{
            margin-top: 20px;
            color: rgb(95, 56, 56);
        }
        label {
			font-size: 1rem;
			text-transform: uppercase;
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
			cursor: pointer;
			&:last-child {
				margin-bottom: 3rem;
			}
        }
        input {
			padding: 10px;
            cursor: pointer;
			// outline: none;
			font-size: 1.4rem;
			border: 1px solid aqua;
        }
         button {
              background-color: green;
              color: white;
              border-radius: 5px;
              margin-top: 15px;
              border: 1px solid gray;
              padding: 10px;
              cursor: pointer;
            }
    }
}