.header_main_div {
  width: 100%;
  min-height: 4rem;
  background-color: var(--blue);
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  color:  var(--white);
  border-bottom: solid 2px var(--border);
}

.settings{
  text-align: right;
  justify-content: end;
  align-items: flex-end;
  
  
}
.options {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          border: 1px solid lightgray;
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: gray;
          width: 200px;
          font-weight: 300;

          .link{
            text-decoration: none;
          }
        }