.table{
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 10px;
    white-space: nowrap;
}

.table thead{
    background-color: #ccc;
    color: #222;
}

.table tbody tr:hover{
    background-color: #eee;
}

.actions{
    display: flex;
    justify-content: space-around;
}
.actions svg{
    cursor: pointer;
}

.delete-btn{
    color: #e10d05;
}